<img src="/yorkie.jpg" alt="yorkie pic">
<p>A Yorkie may be small but it has a big personality. They are very caring and playful, but they can be a little aggressive when confronted with unfamiliar dogs. They make a great family pet and are excellent around children. They are also the most popular toy dog breed in the U.S. For the first 2 weeks, Yorkie puppies sleep 90% of the time. That’s 21 and 1/2 hours of sleep a day! They were originally trained to hunt small animals living underground like rabbits, rats, and foxes.</p>
